<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div>
  <% @articles.sort { |a,b| a.created_at <=> b.created_at }.reverse.each do |article| %>
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p>
      <%= article.text %>
    </p>
    <%= link_to pluralize(article.comments.count, "Comment"), article_path(article, anchor: 'comments') %> - Posted on <%=l article.created_at %><br />
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_article_path(article), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                article_path(article),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
    <hr />
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
